In [2]:
import numpy as np

# Employee Details (1) Employee ID (2) Department (3) Salary
employee_details = np.array([
    [101, 'Sales', 55000, 'Satya Nadella'],  
    [102, 'HR', 52000, 'Emily Johnson'],    
    [103, 'IT', 72000, 'Fatima Razaak'],        
    [104, 'Sales', 60000, 'John Smith'],    
    [105, 'IT', 68000, 'Priya Singh'],      
    [106, 'HR', 54000, 'Li Wei'],           
    [107, 'IT', 71000, 'Michael Brown'],    
    [108, 'Sales', 59000, 'Sunita Sharma'], 
    [109, 'HR', 53000, 'Chen Wei']          
])

# Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed
performance_metrics = np.array([
    [101, 85, 5],
    [102, 78, 3],
    [103, 92, 7],
    [104, 88, 6],
    [105, 79, 4],
    [106, 81, 5],
    [107, 91, 8],
    [108, 77, 4],
    [109, 83, 4]
])

### Task 1: Merge above two numpy arrays using np.hstack

In [ ]:
merged = np.hstack((employee_details,performance_metrics))
merged

array([['101', 'Sales', '55000', 'Satya Nadella', '101', '85', '5'],
       ['102', 'HR', '52000', 'Emily Johnson', '102', '78', '3'],
       ['103', 'IT', '72000', 'Fatima Razaak', '103', '92', '7'],
       ['104', 'Sales', '60000', 'John Smith', '104', '88', '6'],
       ['105', 'IT', '68000', 'Priya Singh', '105', '79', '4'],
       ['106', 'HR', '54000', 'Li Wei', '106', '81', '5'],
       ['107', 'IT', '71000', 'Michael Brown', '107', '91', '8'],
       ['108', 'Sales', '59000', 'Sunita Sharma', '108', '77', '4'],
       ['109', 'HR', '53000', 'Chen Wei', '109', '83', '4']], dtype='<U21')

### Task 2: Print All the Salaries

In [60]:
merged[:,2]

array(['55000', '52000', '72000', '60000', '68000', '54000', '71000',
       '59000', '53000'], dtype='<U21')

### Task 3:  Print All the Salaries in Ascending Order

In [61]:
np.sort(merged[:,2])

array(['52000', '53000', '54000', '55000', '59000', '60000', '68000',
       '71000', '72000'], dtype='<U21')

### Task 4:  Iterate through entire array and print only employee id and name

In [62]:
for employee in merged:
    print("Employee ID:", employee[0], "| Name:", employee[3])

Employee ID: 101 | Name: Satya Nadella
Employee ID: 102 | Name: Emily Johnson
Employee ID: 103 | Name: Fatima Razaak
Employee ID: 104 | Name: John Smith
Employee ID: 105 | Name: Priya Singh
Employee ID: 106 | Name: Li Wei
Employee ID: 107 | Name: Michael Brown
Employee ID: 108 | Name: Sunita Sharma
Employee ID: 109 | Name: Chen Wei

### Task 5: Print performance score of all the employees

In [63]:
merged[:,5]

array(['85', '78', '92', '88', '79', '81', '91', '77', '83'], dtype='<U21')

### Task 6: Convert these scores to float type by using astype(float) function

In [64]:
merged[:,5].astype(float)

array([85., 78., 92., 88., 79., 81., 91., 77., 83.])

### Task 7:  Now print the average performance score of all the employees

In [66]:
print(np.mean(merged[:,5].astype(float)))

83.77777777777777

### Task 8:  Print all the unique departments. You can use np.unique function for this

In [67]:
# first print departments from all the records

merged[:,1]

array(['Sales', 'HR', 'IT', 'Sales', 'IT', 'HR', 'IT', 'Sales', 'HR'],
      dtype='<U21')

In [68]:
# now print unique departments
np.unique(merged[:,1])

array(['HR', 'IT', 'Sales'], dtype='<U21')

### Task 9: Print average salary in HR department

In [76]:
merged[merged[:, 1] == 'HR']

array([['102', 'HR', '52000', 'Emily Johnson', '102', '78', '3'],
       ['106', 'HR', '54000', 'Li Wei', '106', '81', '5'],
       ['109', 'HR', '53000', 'Chen Wei', '109', '83', '4']], dtype='<U21')

In [ ]:
merged[merged[:,1] == 'HR'][:,2].astype(float)

array([52000., 54000., 53000.])

In [75]:
print(np.average(merged[merged[:,1]=='HR'][:,2].astype(float)))

53000.0